@model WebMVC.Models.PassageiroView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pesquisar";
}
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Inicio", "Inicial")">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Cadastrar", "Cadastro")">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Consultar", "Consulta")">Consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Pesquisar", "Pesquisa")">Pesquisa</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr/>
<div class="modal-dialog">
    <div class="modal-content">
         @using (Html.BeginForm())
         {
              <div class="modal-header">
                <h4 class="modal-title">Pesquisar os dados da passagem</h4>
              </div>
              
              <div class="modal-body">
               <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label><span class="control-label col-md-3">Nome do Passageiro</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.NomePssageiro, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.NomePssageiro)
                    </div>
                </div>
             </div>
            </div>
             <div class="modal-footer">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal"/>            
            </div>
         }
<hr/>

</div>
</div>
    <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Pesquisa os dados da passagem</h4>
            </div>
     </div>
      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome do Passageiro</th>
      <th scope="col">Email do apsdsageiro</th>
      <th scope="col">Sexo do Passageiro</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidadde</th>
      <th scope="col">Nome do Aeroporto</th>
      <th scope="col">Data de Entrada</th>
      <th scope="col">Compania</th>
      <th scope="col">Nome do Avião</th>
      <th scope="col">Ciadde de Origem</th>
      <th scope="col">Ciadde de Destino</th>
    </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>